[submodule "bundle/Insertlessly"]
	path = bundle/Insertlessly
	url = https://github.com/dahu/Insertlessly.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
